# Assignment 3

1. Generate a figure from the given dataset that resembles Figure 1.

In [2]:
import pandas as pd

df = pd.read_csv("3MC.csv")
df.head()

       x      y  class
0 -3.053  0.787      1
1 -2.535  1.088      1
2 -2.667  0.611      1
3 -2.598  1.323      1
4  2.173  0.864      1